body {
    font-family: 'Open Sans', sans-serif;
    color: #FE5000;
    background-color: black; 
}

.flavourtext {
    font-family: 'Courier Prime', monospace;
    color: #00BB31;
}

.main-text {
	font-size: 1.5rem;
}

.header {
  text-align: center;
  margin-bottom: 4rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  border: 1px solid red;
  width: 10rem;  
  height: 100%;
  
  text-align: center;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  
}

.card-title {
  font-weight: bolder;
}

.catcow {
  display: flex;
  align-items: center;
  justify-content: center;
}